@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center h-100 flex-column">
    <h1 class="display-4">Welcome To Movie Reviews</h1>
    <a class="btn btn-secondary" asp-controller="Review" asp-action="Create">Create a Review</a>
</div>

